basePath: /
definitions:
  B2C:
    properties:
      amount:
        type: string
      callBackChannel:
        type: string
      callBackDestination:
        type: string
      commandID:
        type: string
      currency:
        type: string
      customerMSISDN:
        type: string
      language:
        type: string
      serviceProviderName:
        type: string
      shortcode:
        type: string
      thirdPartyReference:
        type: string
      token:
        type: string
      transactionDateTime:
        type: string
    type: object
  B2CResponse:
    properties:
      Amount:
        type: string
      CallBackChannel:
        type: string
      CallBackDestination:
        type: string
      CommandID:
        type: string
      Currency:
        type: string
      CustomerMSISDN:
        type: string
      InsightReference:
        type: string
      Language:
        type: string
      ResponseCode:
        type: string
      ServiceProviderName:
        type: string
      Shortcode:
        type: string
      ThirdPartyReference:
        type: string
      TransactionDateTime:
        type: string
      code:
        type: string
      description:
        type: string
      detail:
        type: string
      event_id:
        type: string
      transactionID:
        type: string
    type: object
  C2B:
    properties:
      amount:
        type: string
      callBackChannel:
        type: string
      callBackDestination:
        type: string
      commandID:
        type: string
      currency:
        type: string
      customerMSISDN:
        type: string
      date:
        type: string
      initials:
        type: string
      language:
        type: string
      serviceProviderCode:
        type: string
      surname:
        type: string
      thirdPartyReference:
        type: string
      token:
        type: string
    type: object
  C2BResponse:
    properties:
      Amount:
        type: string
      CallBackChannel:
        type: string
      CallBackDestination:
        type: string
      CommandID:
        type: string
      Currency:
        type: string
      CustomerMSISDN:
        type: string
      Date:
        type: string
      Initials:
        type: string
      InsightReference:
        type: string
      Language:
        type: string
      ResponseCode:
        type: string
      ServiceProviderCode:
        type: string
      Surname:
        type: string
      ThirdPartyReference:
        type: string
      code:
        type: string
      description:
        type: string
      detail:
        type: string
      event_id:
        type: string
      transactionID:
        type: string
    type: object
  Login:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  LoginResponse:
    properties:
      SessionID:
        type: string
      code:
        type: string
      description:
        type: string
      detail:
        type: string
      event_id:
        type: string
      transactionID:
        type: string
    type: object
  LoginResponseV1:
    properties:
      code:
        type: string
      description:
        type: string
      detail:
        type: string
      event_id:
        type: string
      token:
        type: string
      transactionID:
        type: string
    type: object
  Status:
    properties:
      status:
        type: string
    type: object
host: ipg.betmondenge.com
info:
  contact:
    email: briantralah@gmail.com
    name: API Support
  description: This is a service for interacting with Vodacom's DRC MPESA SOAP Integrated
    Payment Gateway.
  license:
    name: GNU GENERAL PUBLIC LICENSE
    url: http://www.gnu.org/licenses/
  termsOfService: https://blog.tralahm.com
  title: DRC MPESA Proxy REST API
  version: "1.0"
paths:
  /api/v1/b2c:
    post:
      consumes:
      - application/json
      description: Initiate B2C Transaction
      parameters:
      - description: B2C
        in: body
        name: b2c
        required: true
        schema:
          $ref: '#/definitions/B2C'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/B2CResponse'
      summary: Initiate Business to Customer Transaction
      tags:
      - b2c
  /api/v1/b2c_callback:
    post:
      consumes:
      - text/xml
      description: Handle CallBack for a B2C Transaction and POST JSON callback to
        client callback url
      summary: Handle CallBack for a Customer to Business Transaction
      tags:
      - b2c
  /api/v1/c2b:
    post:
      consumes:
      - application/json
      description: Initiate C2B Transaction
      parameters:
      - description: C2B
        in: body
        name: c2b
        required: true
        schema:
          $ref: '#/definitions/C2B'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/C2BResponse'
      summary: Initiate Customer to Business Transaction
      tags:
      - c2b
  /api/v1/c2b_callback:
    post:
      consumes:
      - text/xml
      description: Handle CallBack for a C2B Transaction and POST JSON callback to
        client callback url
      summary: Handle CallBack for a Customer to Business Transaction
      tags:
      - c2b
  /api/v1/health:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Status'
      summary: Check Health Status
      tags:
      - internal
  /api/v1/login:
    post:
      consumes:
      - application/json
      description: Login to the MPESA Ipg with the credentials and return JSON response.
      parameters:
      - description: Login
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/Login'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/LoginResponseV1'
      summary: Authenticate against the Remote IPG
      tags:
      - login
  /api/v1/ready:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Status'
      summary: Check Readiness Status
      tags:
      - internal
  /api/v2/login:
    post:
      consumes:
      - application/json
      description: Login to the MPESA Ipg with the credentials and return JSON response.
      parameters:
      - description: Login
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/Login'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/LoginResponse'
      summary: Authenticate against the Remote IPG
      tags:
      - login
  /swagger.json:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
      summary: Get API Swagger Definition
      tags:
      - internal
swagger: "2.0"
